[Unit]
Description=Task Queue service
After=network.target

[Service]
Type=simple
User={{ task_queue_user }}
Group={{ task_queue_user }}
EnvironmentFile={{ task_queue_installDir }}/env
WorkingDirectory={{ task_queue_installDir }}
ExecStart=/bin/bash -c 'source /var/anaconda/bin/activate {{ task_queue_condaEnvironment }} ; celery worker'

[Install]
WantedBy=multi-user.target
